<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="#">P'acha</a></h3>
            <p class="text-left links"><a href="#">Principal</a><strong> · </strong><a href="#">Carrito</a><strong> · </strong><a href="#">Términos</a><strong> · </strong><a href="#">Nosotros</a><strong>&nbsp;</strong></p>
            <p class="text-center company-name" style="color: rgb(34, 16, 17);">P'acha© 2021</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> +51 999 888 456</p>
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">Ciudad Universitaria</span> Lima, Perú</p>
                </div>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">pacha@company.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>About us...</h4>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>
