<nav class="navbar navbar-light navbar-expand-md sticky-top" id="heather">
    <div class="container-fluid"><a class="navbar-brand" [routerLink]="['/principal/negocios']"><img src="assets/img/LOGO%20HORIZONTAL.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1" style="height: 70;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="user"><a class="nav-link" [routerLink]="['/principal/perfilCliente']" style="height: 70;color: #641fa3;"><i class="fa fa-user-circle" style="width: 50;height: 50;"></i></a></li>
                <li class="nav-item" id="user"><a class="nav-link" [routerLink]="['/principal/perfilCliente']" style="height: 70;color: #641fa3;">{{username}}&nbsp;</a></li>
                <li class="nav-item" id="user"><a class="nav-link" [routerLink]="['/login']" style="height: 70;color: #641fa3;"><i class="fa fa-sign-out" style="width: 50;height: 50;"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
