<!--<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form (ngSubmit)="insertarUsuario()">
            <div class="form-group row">
                <label for="username" class="col-form-label col-sm-2">Username</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username">

                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-form-label col-sm-2">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password">

                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="usuario.email" name="email">

                </div>
            </div>

            <div class="form-group row">
    
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">Crear</button>

                </div>
            </div>


        </form>
    </div>
</div>-->
<nav class="navbar navbar-light navbar-expand-md "  id="heather">
    <div class="container-fluid"><span  style="font: normal 80px Cookie, cursive; color: rgb(34, 16, 17);">Shop</span><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1" style="height: 70;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" id="user" href="producto_cliente.html" style="height: 70;"><i class="material-icons" id="vender" style="width: 50;height: 50;color: rgb(34, 16, 17);">store_mall_directory</i></a></li>
                <li class="nav-item" id="user"><a class="nav-link" href="#" style="height: 70;color: rgb(34, 16, 17);">&nbsp;<i class="fa fa-user-circle" style="width: 50;height: 50;"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="div_rc">
    <div class="container" id="cont_rn">
        <form (ngSubmit)="insertarCliente()">
        <div class="row" id="fila_reg_cliente">
            <div class="col-md-5 text-center" id="colum_rc2">
                <div class="row">
                    <div class="col"><label class="col-form-label text-left" id="nombre_producto_rc" style="font-size: 60px;color: rgb(34, 16, 17);font-family: Cookie, serif;text-decoration: underline;text-decoration-color: #aa4466;">Registarse:&nbsp;</label></div>
                </div>
                <div class="row">
                    <div class="col" style="font-family: Constantia, serif;font-size: 24px;"><label class="col-form-label">¡Bienvenido a la Familia FAZTTY!</label></div>
                </div><img class="rounded img-fluid" id="foto_rc" src="assets/img/cliente.jpg">
            </div>
            
                <div class="col-md-7 text-center" id="colum_rc">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h4>Nombre(s):</h4>
                        </div>
                        <div class="col-6"><input type="text" [(ngModel)]="cliente.firstName" name="firstname"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <h4>Apellido(s):</h4>
                        </div>
                        <div class="col-6"><input type="text" [(ngModel)]="cliente.lastName" name="lastname"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <h4>Nombre de usuario:</h4>
                        </div>
                        <div class="col-6"><input type="text" [(ngModel)]="cliente.username" name="username"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <h4 class="text-left">E - mail:</h4>
                        </div>
                        <div class="col-6"><input type="text" [(ngModel)]="cliente.email" name="email"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <h4 class="text-left">Contraseña</h4>
                        </div>
                        <div class="col-6"><input type="password" [(ngModel)]="cliente.password" name="password"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <h4 class="text-left">N° DNI:</h4>
                        </div>
                        <div class="col-6"><input type="text" [(ngModel)]="cliente.dni" name="dni"></div>
                    </div>
                </div>
            
        </div>
        <div class="row">
            <div class="col text-right"><button class="btn btn-primary" id="bt_editar_rn"  role="button" style="font-size: 24px;">Registrarse&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                        <path d="M12.0519 14.8285L13.4661 16.2427L17.7087 12L13.4661 7.7574L12.0519 9.17161L13.8803 11H6.34318V13H13.8803L12.0519 14.8285Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 19C1 21.2091 2.79086 23 5 23H19C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5C2.79086 1 1 2.79086 1 5V19ZM5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21Z" fill="currentColor"></path>
                    </svg></button></div>
        </div>
    </form>
    </div>
</div>
<app-footer></app-footer>