<div class="text-center" id="div_prod_edit">
    <div class="container" id="cont_rn">
        <form (ngSubmit)="modificarProducto()">
        <div class="row justify-content-center" id="fila_reg_producto_edit">
            <div class="col-lg-7 text-center"><label class="text-left" id="edit_producto_rc-1" style="font-size: 60px;color: var(--purple);font-family: Cookie, serif;text-decoration: underline;text-decoration-color: #65C4F0;">Editar Producto:&nbsp;</label>
                <div class="row text-center justify-content-center" id="div_dat_prod">
                    <div class="col-md-7 col-lg-12 text-center" id="colum_prod_nuev">
                        <div class="row">
                            <div class="col-6 text-left">
                                <h4>Nombre del Producto:</h4>
                            </div>
                            <div class="col-6 col-lg-6"><input type="text" [(ngModel)]="producto.nombre" name="nombre"></div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-left">
                                <h4>Marca:</h4>
                            </div>
                            <div class="col-6"><input type="text" [(ngModel)]="producto.marca" name="marca"></div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-left">
                                <h4>Precio:</h4>
                            </div>
                            <div class="col-6"><input type="text" [(ngModel)]="producto.precio" name="precio"></div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-left">
                                <h4 class="text-left">Categoría:</h4>
                            </div>
                            <div class="col-6">
                                <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" id="bt_elegir" type="button" style="background: rgb(195,146,240);border-style: none;color: rgb(0,0,0);">{{cat_selected}}</button>
                                    <div class="dropdown-menu"><div *ngFor="let categoria of categorias"><a class="dropdown-item" (click)="click(categoria.id, categoria.nombre)">{{categoria.nombre}}</a></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-5 text-center" id="colum_prodEdit" style="margin: 0px;padding: 10px;"><img class="img-fluid" id="foto_prod_nuev" src="../assets/img/editar_producto.png">
                <div class="row">
                    <div class="col text-center" style="padding: 10px 15px;"><button class="btn btn-primary" id="bt_cambiar_img" type="button" style="background: rgb(195,146,240);color: rgb(28,27,27);border-style: none;">Cambiar Imagen</button></div>
                </div>
            </div>-->
            <upload-producto class="col-md-5 text-center" id="colum_prodNuev" style="margin: 0px;padding: 10px;"></upload-producto>
        </div>
        <div class="row">
            <div class="col text-center" style="padding: 5px 15px;"><a [routerLink]="['/mitienda/productos']" class="btn btn-primary"  id="bt_atras" style="font-size: 24px;background: rgb(0, 98, 204);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                        <path d="M11.9481 14.8285L10.5339 16.2427L6.29126 12L10.5339 7.7574L11.9481 9.17161L10.1197 11H17.6568V13H10.1197L11.9481 14.8285Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23 19C23 21.2091 21.2091 23 19 23H5C2.79086 23 1 21.2091 1 19V5C1 2.79086 2.79086 1 5 1H19C21.2091 1 23 2.79086 23 5V19ZM19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21Z" fill="currentColor"></path>
                    </svg>&nbsp;Atrás</a></div>
            <div class="col text-center" style="padding: 5px 15px;"><button class="btn btn-success" id="bt_agregar" role="button" style="font-size: 24px;border-style: none;border-top-color: rgb(255,255,255);border-right-color: rgb(255,255,255);border-bottom-color: rgb(255,255,255);border-left-color: rgb(255,255,255);">Guardar&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                        <path d="M10.2426 16.3137L6 12.071L7.41421 10.6568L10.2426 13.4853L15.8995 7.8284L17.3137 9.24262L10.2426 16.3137Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 5C1 2.79086 2.79086 1 5 1H19C21.2091 1 23 2.79086 23 5V19C23 21.2091 21.2091 23 19 23H5C2.79086 23 1 21.2091 1 19V5ZM5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3Z" fill="currentColor"></path>
                    </svg></button></div>
        </div>
    </form>
    </div>
</div>