<div id="Cuerpo">

    <!--<div id="sidebar-wrapper" style="background: #674172;">
            <div class="col-md-4">

                <ul class="sidebar-nav">
                    <li class="sidebar-brand"> <a style="font-size: 18px;color: #dcdcdc;text-align: left;">Tipos de Negocios</a></li>
                    <li *ngFor="let tipo of tipoNegocio"> <a role="button" (click)="click(tipo.id)" style="color: #dcdcdc;">{{tipo.nombre}}</a></li>

                </ul>

            </div>
        </div>-->
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">
                    <div style="padding-top: 50px;">
                        <h1 class="text-center">{{singleTipo.nombre}}</h1>
                    </div>
                    <p class="text-center"><em>Apoya y forma parte de este gran cambio!</em></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center justify-content-center" id="row_tienda" style="margin: 5px;">
                <div class=" card border-dark bg-light col-md-4 col-lg-3 col-xl-4 offset-lg-0 text-center"
                    *ngFor="let negocio of negocios" data-aos="zoom-in" data-aos-duration="400" id="columna_1"
                    style="border-radius: 30px;background: #f1e7fe;margin: 6px; width: 600px; height: 500px;">


                    <img class="card-img-top rounded img-fluid border" id="imagen_tienda_P"
                        style="width: 500px; height: 200px;border-radius: 25px;" [src]="calculaSrc(negocio.imagen)">

                    
                    <p class="card-title text-center" id="nombre_tienda"
                        style="margin: 0px 0px 8px;padding: 8px;font-weight: bold;">{{negocio.nombre}}</p>



                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span style="font-size: 15px; font-weight: bold;">Tipo de Negocio :
                            </span>{{negocio.tipoNegocio.nombre}}</li>
                        <li class="list-group-item"><span style="font-size: 15px; font-weight: bold;">Dirección :
                            </span>{{negocio.direccion}}</li>
                        <li class="list-group-item"><span style="font-size: 15px; font-weight: bold;">Puntuación :
                            </span>{{negocio.puntuacion}}<span style="font-size: 15px;"> puntos
                            </span></li>

                    </ul>
                    <div class="col-xl-12 text-center " style="margin: 0px 0px 8px ;padding: 20px;"><a class="btn    "
                            style="background-color: #aa4466; color:white; border: 2px solid rgb(94, 1, 29);" role="button " (click)="ver(negocio.id) ">Ver Tienda</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>

</div>