<div>
    <div class="row">
        <div class="col">
            <h2 class="text-center" id="prod"><label id="nombre_negocio">{{negocio.nombre}}</label>:&nbsp;Productos</h2>
        </div>
        <div class="col text-center" id="filtro_cat">
            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" id="bt_cat" type="button">Categoría</button>
                <div class="dropdown-menu">
                    <div *ngFor="let categoria of categorias"><a class="dropdown-item" role="button" (click)="click(categoria.id)">{{categoria.nombre}}</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row" id="row_product">
            <div class="col-md-4 text-center" id="colum_1" *ngFor="let producto of productos">
                <img class="img-fluid" id="imagen_tienda" [src]="calculaSrc(producto.imagen)">
                <label class="text-center " id="nombre_producto">{{producto.nombre}}</label>
                <div class="row ">
                    <div class="col-6 text-left ">
                        <h4>Marca</h4>
                    </div>
                    <div class="col-6 "><label class="col-form-label">{{producto.marca}}</label></div>
                </div>
                <div class="row ">
                    <div class="col-6 text-left ">
                        <h4>Categoría</h4>
                    </div>
                    <div class="col-6 "><label class="col-form-label">{{producto.categoria.nombre}}</label></div>
                </div>
                <div class="row ">
                    <div class="col-6 text-left ">
                        <h4>Precio</h4>
                    </div>
                    <div class="col-6 "><label class="col-form-label">S/.&nbsp;</label><label class="col-form-label ">{{producto.precio}}</label></div>
                </div>
                <div class="row ">
                    <div class="col-6 text-left ">
                        <h4 class="text-left ">Puntuación</h4>
                    </div>
                    <div class="col-6 "><label class="col-form-label">{{producto.puntuacion}}</label></div>
                </div>
                <div class="row ">
                    <div class="col text-right"><button class="btn btn-primary" id="bt_editar" type="button" (click)="editar(producto.id)">Editar</button></div>
                </div>
            </div>

            <div class="col-md-3 text-center" id="colum_agregar"><a id="add_product" [routerLink]="['/mitienda/agregarProducto']"><i class="fas fa-cart-plus" id="add_p_icon" style="color: #c392f0; "></i>
                    <h2 class="text-center" style="color: var(--gray); ">Agregar Producto</h2>
                </a></div>
        </div>
    </div>
</div>